#blog-post {
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--text);
    margin: 0 2rem;
    max-width: 1200px;
}

#blog-post .date {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--green);
}

#blog-post p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    #blog-post {
        margin: 0 1rem;
        padding: 1rem;
    }
}

a#blog-title {
    text-decoration: none;
    color: var(--green0);
}

a#blog-title:hover {
    color: var(--yellow0);
}