#blog {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    margin: 0 10rem;
}

@media screen and (max-width: 800px) {
    #blog {
      margin: 0 1rem;
    }
}

#blog-post {
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--text);
}

#blog-post .date {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--green);
}

#blog-post p {
    margin: 0;
    padding: 0;
}

a#blog-title {
    color: var(--yellow0);
}