:root {
  --bg: #282828;
  --bg0: #44463b;
  --text: #ebdbb2;
  --text0: #a89984;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --magenta: #b16286;
  --cyan: #689d6a;
  --red0: #fb4934;
  --green0: #b8bb26;
  --yellow0: #fabd2f;
  --blue0: #83a598;
  --magenta0: #d3869b;
  --cyan0: #8ec07c;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  color: var(--green0);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.navbar {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  list-style: none;
  display: inline;
  padding: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--blue0);
  font-weight: bold;
}

.navbar a#current-page {
  text-decoration: underline;
  color: var(--yellow0);
}

#title {
  color: var(--yellow);
  margin: 1.25rem;
}

.center {
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.box {
  display: flex;
  margin: 0rem 5rem;
  padding: 1rem 2rem;
  gap: 3rem;
  background: var(--bg0);
  max-width: 1440px;
  border-radius: 2rem;
}

.box .box-content {
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  display: block;
  height: 200px;
  width: 200px;
  object-position: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .box {
    flex-direction: column-reverse;
    margin: 0 2rem;
    gap: 0rem;
    text-align: center; 
  }

  .box-content p {
    text-align: left;
  }
}

img.skeleton.profile-pic {
  height: 200px;
  width: 200px;
  justify-content: center;
  object-position: center;
  background-color: #888888;
}

footer {
  padding: 5px 0 5px;
}

footer path {
  fill: var(--text0);
}


/* Home Page Card Animation */

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 350px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: var(--bg0);
  box-shadow: -0.5rem 0 2rem #000000;
  transition: 200ms ease-out;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover h2 {
  color: var(--yellow0);
}

.card:hover~.card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header .card-date {
  color: var(--green0);
  font-size: large;
  font-family: monospace;
}

.card-footer {
  display: flex;
  flex-direction: row;
}

.button {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1em;
  background-color: var(--green);
  color: var(--text);
  border-radius: 0.25em;
  padding: 0.2em 0.2em;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--green0);
  color: white;
}

/* If two button are together, then create a space between them */
.button + .button {
  margin-left: 0.25rem;
}