:root {
  --bg: #282828;
  --bg0: #44463b;
  --text: #ebdbb2;
  --text0: #a89984;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --magenta: #b16286;
  --cyan: #689d6a;
  --red0: #fb4934;
  --green0: #b8bb26;
  --yellow0: #fabd2f;
  --blue0: #83a598;
  --magenta0: #d3869b;
  --cyan0: #8ec07c;
}

body {
  background: var(--bg);
  color: var(--text);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.navbar {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  list-style: none;
  display: inline;
  padding: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
}

.navbar a#current-page {
  text-decoration: underline;
  color: var(--yellow0);
}

#title {
  color: var(--yellow);
  margin: 1.25rem;
}

#content {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.center {
  text-align: center;
}

.box {
  display: flex;
  margin: 0rem 5rem;
  padding: 1rem 2rem;
  gap: 3rem;
  background: var(--bg0);
  min-width: 250px;
  max-width: 1200px;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px black;
}

.box a {
  text-decoration: underline;
  color: var(--green0);
}

.box a:hover {
  color: var(--yellow0);
}

.box-content {
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  display: block;
  height: 200px;
  width: 200px;
  object-position: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .box {
    flex-direction: column-reverse;
    gap: 0;
    margin: 0 1rem;
    text-align: center;
    padding: 1rem 0.5rem;
  }

  .box-content p {
    text-align: left;
  }
}

img.skeleton.profile-pic {
  height: 200px;
  width: 200px;
  justify-content: center;
  object-position: center;
  background-color: #888888;
}

footer {
  padding: 5px 0 5px;
}

footer path {
  fill: var(--text0);
}