/* Gruvbox Theme */
:root {
    --bg: #282828;
    --bg0: #44463b;
    --text: #ebdbb2;
    --text0: #a89984;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --magenta: #b16286;
    --cyan: #689d6a;
    --red0: #fb4934;
    --green0: #b8bb26;
    --yellow0: #fabd2f;
    --blue0: #83a598;
    --magenta0: #d3869b;
    --cyan0: #8ec07c;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background: #458588;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.resume {
    display: flex;
    width: 1000px;
    /* aspect-ratio: 1 / 1.414; */
    background-color: white;
    justify-content: center;
}

.left-side {
    display: grid;
    flex: 1;
    gap: 3rem;
    background: var(--bg);
    /* align-content: baseline; */
    justify-content: center;
}

.profile {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.profile h2 {
    color: var(--yellow);
}

.profile h3 {
    color: var(--yellow0);
}

.profile .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 2rem 0 1rem 0; */
    margin-top: 2rem;
}

.profile .picture img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.template {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--green0);
    width: 100%;
    color: var(--text);
    font-weight: 600;
}

.template ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.template li {
    padding-top: 0.5rem;
}

.template header {
    padding-bottom: 0.5rem;
}

.template path {
    fill: var(--text);
}

.template .text {
    padding-left: 0.5rem;
}

.percent {
    position: relative;
    height: 8px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 5px;
    /* overflow: hidden; */
    border: 2px solid var(--blue);
    box-shadow: 0px 0px 5px var(--blue);
}

.percent div {
    position: relative;
    height: 100%;
    background-color: var(--green);
    /* box-shadow: 0px 0px 7px var(--green0); */
}

.hobbies {
    margin-bottom: 20px;
}

.hobbies path {
    fill: black;
}

.right-side {
    display: grid;
    flex: 2;
    justify-content: left;
    /* align-content: baseline; */
    gap: 8rem;
    padding: 3rem 2rem;
}

.right-side .template {
    color: black;
    border-bottom: 0px solid var(--bg);
}

.about p {
    font-size: 18px;
}

.education li {
    padding-bottom: 1rem;
}

.education .course {
    font-size: larger;
    font-weight: 800;
}

.education .place {
    font-size: large;
    font-weight: 700;
    font-style: italic;
}

.education .year {
    font-size: 16px;
    color: var(--bg0);
}

.certificates {
    margin-bottom: 20px;
}