body {
    background: var(--bg);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a#link {
    color: var(--green);
    text-decoration: underline;
}

.timeline {
    margin: 1rem;
    padding: 0 1rem;
    border-left: 5px solid var(--bg0);
}

.event {
    max-width: 800px;
    position: relative;
    background: var(--bg0);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px black;
}

.event::before {
    content: '';
    position: absolute;
    top: 40%;
    left: calc(-2rem + 5.5px);
    height: 16px;
    width: 16px;
    background: var(--yellow0);
    border-radius: 50%;
    transition: 0s;
    transition: 200ms box-shadow ease-out;
}

.event:hover {
    transform: translateX(-0.5rem);
}

.event:hover::before {
    left: calc(-1.5rem + 5.5px);
    background-color: var(--magenta);
    box-shadow: 0px 0px 10px var(--green);
}

.date {
    font-size: 0.8rem;
    color: var(--green0);
}

.title {
    color: var(--text);
}

.title a {
    text-decoration: none;
    color: var(--text);
}

.title a:hover {
    color: var(--yellow0);
}

.title path {
    fill: var(--text);
}

.title a:hover path {
    fill: var(--yellow0)
}

.description {
    color: var(--text);
}

.description path {
    color: var(--text);
}